@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Nunito:wght@200;300;400&display=swap');

h1{
    font-family: 'Lobster', cursive;
    background-color: white;
}
h3, .separador{
    background-color: white;
    color: rgb(193, 192, 192);
}
*{
    font-family: 'Nunito', sans-serif;
    background-color: rgb(248, 247, 247);
}

.facebook-btn picture{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 2px;
    
}

.facebook-btn picture img{
    width: 76%;
}

.facebook-btn{
    background-color: #0095F6;
    color: white;
    border: none;
    padding: 8px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.separador{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 360px;
    padding-left: 15px;
    padding-right: 15px;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    background-color: white;
}

.formulario label{
    padding: 3px;
    background-color: white;
}

.formulario label input{
    border-radius: 2px;
    border: 0;
    width: 300px;
    padding: 10px;
}

p{
    background-color: white;
    display: flex;
    font-size: 9pt;
    align-items: center;
}