.boton{
    width: 100px;
}
.boton:hover{
    color: white;
    background-color: green;
}

.boton::before{
    content: 'Pasa por encima';
    transform: translate(-50%, -50%);
}


.boton:hover::before{
    content: '';
    transform: translate(-50%, -50%);
    color: white;
    background-color: green;
}

.boton:hover::after{
    content: 'Hecho';
}
